//MAIN

#main {
  
    -ms-flex: 70%;
    flex: 70%;
    background-color: $mainBackgroundColor;
    padding: 20px;
    padding-bottom: 0;
    
}
  
#main h2 {
  
    text-align: center;
  
}

@media (min-width: 375px) {

    #main p {
      font-size: $mainPFontSize375;
    }
  
}

@media (min-width: 768px) {

    #main p {
      font-size: $mainPFontSize768;
    }
  
}

@media (min-width: 1440px) {

    #main p {
      font-size: $mainPFontSize1440;
    }
   
}

//MAIN IFRAME

.video-responsive {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
  
  .video-responsive iframe,
  .video-responsive object,
  .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

