//HEADER

$headerBackground: #b01515;
$headerTextColor: white;

//FOOTER

$footerBackground: #333;
$footerTextColor: white;
$footerFontStyle: 'Courier New', Courier, monospace;
$footerFontSize: 13px;
$footerPFontSize: 15px;

$footerFontSize375: 15px;

$footerFontSize425: 17px;

$footerFontSize768: 25px;
$footerPFontSize768: 20px;

$footerPFontSize1440: 22px;

//NAVBAR

$navbarBackgroundColor:  #333;

$navbarAColor: white;
$navbarAPadding: 10px 12px;

$navbarAHoverBackgroundColor: #ddd;
$navbarAHoverColor: black;

$navbarAActiveBackgroundColor: #666;
$navbarAActiveColor: white;

$navbarPadding375: 12px 14px;

$navbarAFontSize768: 20px;

//FORM

$inputTextEmailPadding: 12px;
$inputTextEmailBorder: 1px solid #ccc; 

$inputSubmitBackgroundColor: #4CAF50;
$inputSubmitPadding: 12px 20px;

$formBackgroundColor: #f2f2f2;
$formPadding: 20px;

//MAIN

$mainBackgroundColor: white;

$mainPFontSize375: 16px;

$mainPFontSize768: 19px;

$mainPFontSize1440: 23px;

//SEARCH 

$searchBorder: 2px solid #b01515;

$searchInputTextPadding: 10px 10px;

$searchInputSubmitColor: white;
$searchInputSubmitBackgroundColor: #b01515;;
$searchInputSubmitPadding: 10px;

$searchPadding768: 5px 5px;

//TABLE

$tablePadding: 20px;
$tableBorder: 1px solid #ddd;

$tablethtdPadding: 8px;
